<% local ver = require "luci.version" %>
                </div>
                <footer class="footer" style="text-align:center">
                    <a href="https://github.com/openwrt/luci">Powered by <%= ver.luciname or "LuCI" %></a> |
                    <a href="https://openwrt.org/"><%= ver.distversion or "OpenWrt" %></a>
                </footer>
            </div>
        </div>

    <script>
        var luciLocation = <%= luci.http.write_json(luci.dispatcher.context.path) %>;
    </script>
    <script src="<%=media%>/js/jquery.min.js?v=<%= ver.luciversion or '1.0' %>" />
    <script src="<%=media%>/js/script.js?v=<%= ver.luciversion or '1.0' %>" />
</html>
