<%
	local sys = require "luci.sys"
	local util = require "luci.util"
	local http = require "luci.http"
	local disp = require "luci.dispatcher"
	local ver = require "luci.version"

	local boardinfo = util.ubus("system", "board")

	local node = disp.context.dispatched

	local fs = require "nixio.fs"
	local nutil = require "nixio.util"
	local uci = require 'luci.model.uci'.cursor()

	-- send as HTML5
	http.prepare_content("text/html")

	math.randomseed(os.time())

	-- Brand name
	local brand_name = boardinfo.hostname or "?"
-%>

<!DOCTYPE html>
<html lang="<%=luci.i18n.context.lang%>">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=0,viewport-fit=cover" />
    <link rel="manifest" href="<%=media%>/manifest.json">
    <title><%=striptags( (boardinfo.hostname or "?") .. ( (node and node.title) and ' - ' .. translate(node.title) or '')) %> - LuCI</title>
    <meta name="format-detection" content="telephone=no, email=no" />
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="mobile-web-app-capable" content="yes">
	<meta name="x5-fullscreen" content="true">
	<meta name="full-screen" content="yes">
	<meta name="x5-page-mode" content="app">
	<meta name="browsermode" content="application">
    <meta name="msapplication-tap-highlight" content="no">
	<meta name="apple-mobile-web-app-status-bar-style" content="default" />
	<meta name="theme-color" media="(prefers-color-scheme: light)" content="white">
	<meta name="theme-color" media="(prefers-color-scheme: dark)" content="black">
    <meta name="application-name" content="<%=striptags( (boardinfo.hostname or "?") ) %>">
    <meta name="apple-mobile-web-app-title" content="<%=striptags( (boardinfo.hostname or "?") ) %>">
    <meta name="msapplication-TileImage" content="<%=media%>/images/icon.png"/>
    <link rel="icon" href="<%=media%>/images/icon.png" sizes="192x192">
    <link rel="apple-touch-icon" sizes="192x192" href="<%=media%>/images/icon.png">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-touch-fullscreen" content="yes" />

    <link rel="stylesheet" href="<%=media%>/css/style.css?v=<%= ver.luciversion %>">
    <link rel="shortcut icon" href="<%=media%>/favicon.ico">
    <% if node and node.css then %>
        <link rel="stylesheet" href="<%=resource%>/<%=node.css%>">
    <% end -%>
    <% if css then %>
        <style title="text/css">
            <%-= css %>
        </style>
    <% end -%>
    <script src="<%=resource%>/xhr.js?<%= ver.luciversion %>"></script>
</head>

<body class="lang_<%=luci.i18n.context.lang%> <%- if node then %><%= striptags( node.title ) %><%- end %> <% if luci.dispatcher.context.authsession then %>logged-in<% end %>">

<header>

<div class="navbar">
  <a href="/cgi-bin/luci/admin/status/overview"><img src="<%=media%>/images/home.png" /></a>
  <a href="/cgi-bin/luci/admin/services/shadowsocksr"><img src="<%=media%>/images/ssr.png" /></a>
  <a href="/cgi-bin/luci/admin/network/network"><img src="<%=media%>/images/link.png" /></a>
  <a href="/cgi-bin/luci/admin/status/realtime"><img src="<%=media%>/images/rank.png" /></a>
  <a href="/cgi-bin/luci/admin/system/admin"><img src="<%=media%>/images/user.png" /></a>
</div>

<div class="container">
<span class="showSide"></span>
		<img  src="<%=media%>/images/logo.png" <%=striptags( (boardinfo.hostname or "?") ) %>>

		<div class="pull-right">
			<span id="xhr_poll_status" style="display:none" onclick="XHR.running() ? XHR.halt() : XHR.run()">
				<span class="label success" id="xhr_poll_status_on"><span id="refresh_on" class="mobile-hide"></span></span>
				<span class="label" id="xhr_poll_status_off" style="display:none"><span id="refresh_off" class="mobile-hide"></span></span>
			</span>
		<a class="cbi-button cbi-button-reset" href="/cgi-bin/luci//admin/system/reboot" style="margin-right:-6px;">
		<span class="myIcon myIcon-reboot"></span> <%=pcdata(striptags(translate("Reboot")))%></a>
		</a>
		<a class="cbi-button cbi-button-apply" href="/cgi-bin/luci//admin/logout">
		<span class="myIcon myIcon-logout"></span> <%=pcdata(striptags(translate("Logout")))%></a>
		</div>
		</div>
</header>

 <div class="main">
	 <div class="main-left">
	 </div>
	 <div class="main-right">
		 <div class="darkMask"></div>
		 <div id="maincontent">
			 <div class="container">
				 <%- if luci.sys.process.info("uid") == 0 and luci.sys.user.getuser("root") and not luci.sys.user.getpasswd("root") then -%>
					 <div class="alert-message warning">
						 <h4><%:No password set!%></h4>
						 <%:There is no password set on this router. Please configure a root password to protect the web interface and enable SSH.%><br>
						 <a href="<%=pcdata(luci.dispatcher.build_url("admin/system/admin"))%>"><%:Go to password configuration...%></a>
					 </div>
				 <%- end -%>
				 <noscript>
						<div class="alert-message error">
							<h4><%:JavaScript required!%></h4>
							<p><%:You must enable JavaScript in your browser or LuCI will not work properly.%></p>
						</div>
					</noscript>

